/* Error: expected ";".
 *    ,
 * 65 |   src: local(' Bold'), local('RobotoCondensed-Bold'),
 *    |      ^
 *    '
 *   ltucss/_sass/_fonts.scss 65:6  root stylesheet
 *   ltucss/_sass/ltu.scss 4:9      root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: expected \";\".\a    \2577 \a 65 \2502    src: local(' Bold'), local('RobotoCondensed-Bold'),\a    \2502       ^\a    \2575 \a   ltucss/_sass/_fonts.scss 65:6  root stylesheet\a   ltucss/_sass/ltu.scss 4:9      root stylesheet";
}
