/* Error: From line 80, column 1 of ltucss/_sass/elements/_buttons.scss: 
 *    ╷
 * 80 │ .btn-secondary-light {
 *    │ ^^^^^^^^^^^^^^^^^^^^^
 *    ╵
 * You may not @extend selectors across media queries.
 *     ,
 * 164 |         @extend .btn-secondary-light;
 *     |         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *     '
 *   ltucss/_sass/elements/_buttons.scss 164:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: From line 80, column 1 of ltucss/_sass/elements/_buttons.scss: \a    \2577 \a 80 \2502  .btn-secondary-light {\a    \2502  ^^^^^^^^^^^^^^^^^^^^^\a    \2575 \aYou may not @extend selectors across media queries.\a     \2577 \a 164 \2502          @extend .btn-secondary-light;\a     \2502          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a     \2575 \a   ltucss/_sass/elements/_buttons.scss 164:9  root stylesheet";
}
