@font-face{
  font-family: 'Roboto'; src: url('https://www.latrobe.edu.au/__data/assets/file/0020/549011/Roboto-Light-webfont.eot');
  src: url('https://www.latrobe.edu.au/__data/assets/file/0020/549011/Roboto-Light-webfont.eot?iefix') format('eot'), url('https://www.latrobe.edu.au/__data/assets/file/0006/549015/Roboto-Light-webfont.woff') format('woff'), url('https://www.latrobe.edu.au/__data/assets/file/0005/549014/Roboto-Light-webfont.ttf') format('truetype'), url('https://www.latrobe.edu.au/__data/assets/file/0004/549013/Roboto-Light-webfont.svg#webfont') format('svg');
}

@font-face{
  font-family: 'Roboto Bold'; src: url('https://www.latrobe.edu.au/__data/assets/file/0004/552109/RobotoCondensed-Bold-webfont.eot');
  src: url('https://www.latrobe.edu.au/__data/assets/file/0004/552109/RobotoCondensed-Bold-webfont.eot?iefix') format('eot'), url('https://www.latrobe.edu.au/__data/assets/file/0016/552112/RobotoCondensed-Bold-webfont.woff') format('woff'), url('https://www.latrobe.edu.au/__data/assets/file/0015/552111/RobotoCondensed-Bold-webfont.ttf') format('truetype'), url('https://www.latrobe.edu.au/__data/assets/file/0014/552110/RobotoCondensed-Bold-webfont.svg#webfont') format('svg');
}

@font-face{
  font-family: "Brioni Light";
  src: url('https://www.latrobe.edu.au/__data/assets/file/0006/576654/WF-021135-007047-000360.eot');
  src: url('https://www.latrobe.edu.au/__data/assets/file/0006/576654/WF-021135-007047-000360.eot?#iefix') format('embedded-opentype'), url('https://www.latrobe.edu.au/__data/assets/file/0009/576657/WF-021135-007047-000360.woff') format('woff'), url('https://www.latrobe.edu.au/__data/assets/file/0008/576656/WF-021135-007047-000360.ttf') format('truetype'), url('https://www.latrobe.edu.au/__data/assets/file/0007/576655/WF-021135-007047-000360.svg#webfont') format('svg');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
