@font-face{
  font-family: 'Roboto'; src: url('fonts/Roboto-Light-webfont.eot');
  src: url('fonts//Roboto-Light-webfont.eot?iefix') format('eot'), url('fonts/Roboto-Light-webfont.woff') format('woff'), url('fonts/Roboto-Light-webfont.ttf') format('truetype'), url('fonts/Roboto-Light-webfont.svg#webfont') format('svg');
}

@font-face{
  font-family: 'Roboto Bold'; src: url('fonts/RobotoCondensed-Bold-webfont.eot');
  src: url('fonts/RobotoCondensed-Bold-webfont.eot?iefix') format('eot'), url('fonts/RobotoCondensed-Bold-webfont.woff') format('woff'), url('fonts/RobotoCondensed-Bold-webfont.ttf') format('truetype'), url('fonts/RobotoCondensed-Bold-webfont.svg#webfont') format('svg');
}

@font-face{
  font-family: "Brioni Light";
  src: url('fonts/WF-021135-007047-000360.eot');
  src: url('fonts/WF-021135-007047-000360.eot?#iefix') format('embedded-opentype'), url('fonts/WF-021135-007047-000360.woff') format('woff'), url('fonts/WF-021135-007047-000360.ttf') format('truetype'), url('fonts/WF-021135-007047-000360.svg#webfont') format('svg');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
