[class*="ds-block-container"] {
    clear: both; /* incase there is a float */
    &[data-bgcolor="grey"] {
        background: $swatch-3b;
    }
}
.ds-block-container-narrow,
.ds-block-container-wide {
    padding: 20px;
}
@media (min-width: 640px) {
    .ds-block-container-narrow,
    .ds-block-container-wide {
        padding: 3% 6%;
    }
}
@media (min-width: 1024px) {
    .ds-block-container-narrow {
        padding: 3% 12%;
    }
}
.ds-block-header {
    text-align: center;
    margin-bottom: 24px;
}
.ds-block-header[data-textcase="uppercase"] {
    h2 {
        text-transform: uppercase;
    }
}
