.logo-showcase {
    text-align: center;
}
.logo-showcase-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 6*208px;
    margin: 0 auto;
    &[data-columns="5"] {
        max-width: 5*208px;
    }
    &[data-columns="4"] {
        max-width: 4*208px;
    }
}
.logo-showcase-logo {
    float: none !important;
    padding: 0 !important;
    margin: 4px;
    width: 200px;
    max-width: 100%;
}
