//
// Alertbox
//

.alertbox {
    border: 2px solid rgba($color-alt-3, 0.2);
    border-radius: 6px;
    padding: 12px 20px;
    margin: 32px auto;
    position: relative;

    font-weight: $light-weight;
    max-width: 700px;
}

.alertbox-heading {
    @include font-roboto-slab;
    font-size: 24px;
    font-weight: normal;
    line-height: 28px;
    margin: 0 0 24px 0;
    color: $color-alt-3;
}

.alertbox::before {
    display: inline-block;
    float: left;
    content: "";
    width: 32px;
    height: 32px;
    margin-right: 16px;
    background-image: url("icons/feather/alert-circle.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    filter: $teal;
}

@media(min-width: 768px){
    .alertbox {
        position: relative;
        padding: 20px 80px;
    }
    .alertbox::before {
        display: block;
        position: absolute;
        top: 18px;
        left: 20px;
    }
}


//
// Notice
//

.notice {
    box-sizing: border-box;
    border: 2px solid rgba($color-alt-3, 1);
    border-radius: 4px;
    position: relative;
    font-weight: 400;
    display: flex;
    padding: 4px * 4;
    margin: 1rem 0;

    @media(min-width: 768px){
        padding: 4px * 7;
    }
}

.notice__icon {
    padding-right: 16px;
    vertical-align: top;
    height: 4px * 6;

    @media(min-width: 768px){
        padding-right: 20px;
    }

    svg {
        width: 24px;
        height: 24px;
    }
}

.notice__text {
    p {
        margin: 0 !important;
        color: $color-2;

        a {
            margin-left: 24px;
        }
    }

    @media(min-width: 768px){
        padding-right: 80px;
    }

    >:only-child {
        font-weight: 500;
    }
}

.notice--full-width {
    border: 0;
    margin: 0;
}

.notice--center-align {
    justify-content: center;
}

.notice--info {
    background-color: rgba($color-alt-3, 0.05);
    border-color: rgba($color-alt-3, 1);

    svg {
        color: rgba($color-alt-3, 1);
    }
}

.notice--rounded {
    background-color: white;
    width: 100%;
    max-width: 800px;
    border-width: 4px;
    border-radius: 60px;
    margin: 0 auto 1rem auto;
    padding: 16px;
}

.notice-expand {
    box-sizing: border-box;
    position: relative;
    max-width: 1024px;
    background: white;
    color: $color-2;
    padding: 2rem 2.5rem;
    margin: 0 auto 1rem auto;
    box-shadow: inset 0 0 4px rgba(0,0,0,0.6);

}

.notice-expand__close {
    position: absolute !important;
    top: 0.5rem;
    right: 0.5rem;
    cursor: pointer;
}