/* Banner for discipline page */
.banner-box {
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    padding-top: 56.25%;
}

.banner-box-text {
    text-align: left;
    padding: 24px;
    background: $color-3a;
}

.banner-box-label {
    display: inline-block;
    color: $color-3c;
    border-bottom: 2px solid $color-3c;
    padding: 0 0 4px 0;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
}

.banner-box-ctas {
    display: block;
    margin-bottom: 0;
}

.banner-box-ctas .tablet-up {
    display: none;
}
@media (min-width:768px) {
    .banner-box {
        background-size: cover;
        background-position: center;
        padding-top: 0;
        min-height: 520px;
        max-height: 52vh;
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .banner-box-text {
        box-sizing: border-box;
        color: white;
        left: 50%;
        z-index: 1;
        background: rgba(black,0.6);
        width: 80%;
        max-width: 820px;
    }

    .banner-box-text h1 {
        color: white;
        margin: 0 0 24px 0;
    }

    .banner-box-text p {
        margin: 0 0 16px 0;
    }

    .banner-box-text li {
        margin: 0;
    }

    .banner-box-label {
        color: white;
        border-bottom: 2px solid white;
    }

    .banner-box-ctas .mobile {
        display: none;
    }

    .banner-box-ctas .tablet-up {
        display: inline-block;
    }
}
/* end */
