.ds-block-container {
    margin: 0;
    padding: 0;
    &[data-bgcolor="grey"] {
        background-color: $color-3a;
    }
    &[data-bgcolor="black"] {
        background: $color-2;
        .ds-block-header {
            color: white;
        }
    }
    &[data-bgcolor="red"] {
        background-color: $color-1;
        .ds-block-header {
            color: white;
        }
    }
    &[data-bgcolor="black-nodes"] {
        background-color: $color-2;
        background-image: url("img/bg-nodes.svg");
        .ds-block-header {
            color: white;
        }
    }
    &[data-bgcolor="red-nodes"] {
        background-color: $color-1;
        background-image: url("img/bg-nodes.svg");
        .ds-block-header {
            color: white;
        }
    }
}
.ds-block-container[data-blockwidth="narrow"],
.ds-block-container[data-blockwidth="wide"] {
    padding: 40px 20px;
    &:not([data-bgcolor]),
    &[data-bgcolor=""] {
        padding: 0 20px;
        margin: 40px 0;
    }
}
@media (min-width: 640px) {
    .ds-block-container {
        &:not([data-bgcolor]),
        &[data-bgcolor=""] {
            margin: 4% 0;
        }
        &:not([data-blockwidth]),
        &[data-blockwidth=""] {
            margin: 0;
            padding: 0;
        }
    }
    .ds-block-container[data-blockwidth="narrow"],
    .ds-block-container[data-blockwidth="wide"] {
        padding: 4% 6%;
        &:not([data-bgcolor]),
        &[data-bgcolor=""] {
            padding: 0 6%;
            margin: 4% 0;
        }
    }
}
@media (min-width: 1024px) {
    .ds-block-container[data-blockwidth="narrow"] {
        padding: 4% 12%;
        &:not([data-bgcolor]),
        &[data-bgcolor=""] {
            padding: 0 12%;
        }
    }
}
.ds-block-header {
    text-align: center;
    margin: 0 0 24px 0;
    h2 {
        margin: 0 0 8px 0;
    }
    p {
        margin: 0 0 24px 0;
    }
}
.ds-block-container {
    &:not([data-blockwidth]) .ds-block-header,
    &[data-blockwidth=""] .ds-block-header {
        padding: 4% 0 4px 0;
        margin: 0;
        p {
            margin-bottom: 20px;
        }
    }
}
.ds-block-header[data-textalign="left"] {
    text-align: left;
}
.ds-block-header[data-textalign="right"] {
    text-align: right;
}
