
.testimonial {
    display: block;
    color: $color-2;
    text-decoration: none;
    width: 100%;
    max-width: 800px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.testimonial-image {
    border-radius: 100%;
    overflow: hidden;
    width: 120px;
    height: 120px;
    margin: 0 auto -60px auto;
    position: relative;

    img {
        height: 100%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

.testimonial-copy {
    padding: 84px 20px 20px 20px;

    .testimonial-cta {
        margin-top: 20px;
    }

}

@media(min-width: 600px){

    .testimonial-image {
        width: 280px;
        height: 280px;
        margin: 0 0 20px 20px;
        float: right;
    }

    .testimonial-copy {
        padding-top: 20px;
    }

    .card-set .testimonial-image {
        width: 120px;
        height: 120px;
        margin: 0 auto -60px auto;
        float: none;
    }

    .card-set .testimonial-copy {
        padding: 84px 20px 20px 20px;
    }
}
//


/* if only one exists */
.card-set .testimonial:nth-last-child(1):first-child,
.card-set .testimonial:nth-last-child(1):first-child ~ .testimonial {
    @media(min-width: 600px){
        display: block;

        .testimonial-image {
            width: 280px;
            height: 280px;
            margin: 0 0 20px 20px;
            float: right;
        }

        .testimonial-copy {
            border: 0px;
            padding-top: 20px;
        }
    }
}

/* if only two exist */
.card-set .testimonial:nth-last-child(2):first-child,
.card-set .testimonial:nth-last-child(2):first-child ~ .testimonial {

    @media(min-width: 1200px){
        display: block;

        .testimonial-image {
            width: 280px;
            height: 280px;
            margin: 0 0 20px 20px;
            float: right;
        }

        .testimonial-copy {
            border: 0px;
            padding-top: 20px;
        }
    }
}

.testimonial-image {
    img {
        float: none !important;
        padding: 0 !important;
    }
}

.testimonial-copy {
    blockquote {
        background: transparent;
        color: $color-2;
        overflow: auto;

        margin: 0 0 24px 0;
        padding: 0;
        :first-child:before {
            content: open-quote;
        }
        :last-child:after {
            content: close-quote;
        }

        p {
            margin: 0 0 24px 0 !important;
        }

        footer {
            font-size: 0.8rem;
    
            &:before {
                content: "";
                display: block;
                width: 20px;
                height: 20px;
                background: $color-3c;
                margin: 1rem 0 0.8rem 0;
            }
    
        }
    }

    p.small {
        font-size: 80% !important;
        line-height: 1.5 !important;
    }
}


// enable DS testimonials to work on legacy pages

.ds-testimonial {
    display: block;
    width: 100%;
    max-width: 400px;
    margin-top: 1rem;
}

.ds-testimonial__image {
    border-radius: 100%;
    overflow: hidden;
    width: 120px;
    height: 120px;
    margin: 0 auto 0 0;
    position: relative;

    img {
        height: 100%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

.ds-testimonial__copy {
    padding: 8px 0px 20px 0px;
    
    blockquote {
        //override blockquote base styles
        background: transparent;
        color: $color-2;
        overflow: auto;

        margin: 1em 0 0 0;
        padding-left: 0;
        border-left: none;
        & > p {
            font-size: 1rem;
            //font-weight: 400;
        }

        quotes: "‘" "’" "“" "”" ;

        & > p:first-child::before {
            content: open-quote;
        }

        & > p:last-of-type::after {
            content: close-quote;
        }

        footer {
            font-size: 0.8rem;
            line-height: 1.5;
    
            &:before {
                content: "";
                display: block;
                width: 20px;
                height: 2px;
                background: $color-3c;
                margin: 1rem 0 0.8rem 0;
            }
    
        }

        a {
            color: $color-1;
        }
    }

    .ds-testimonial__cta {
        margin-top: 20px;
    }

}

.ds-testimonial-set {
    @include columns-grid($alignment: center);
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto !important;
    max-width: 1600px;

    .ds-testimonial {
        max-width: 1024px;
    }

    .ds-testimonial__image {
        margin: 0 auto 0 auto;
        
        img {
            float: none !important;
            padding: 0 !important;
        }
    }
}
.card-set,
.ds-testimonial-set { 
    /* if only one exists in set */
    .ds-testimonial:nth-last-child(1):first-child,
    .ds-testimonial:nth-last-child(1):first-child ~ .ds-testimonial {
        @media(min-width: 600px){

            .ds-testimonial__image {
                width: 280px;
                height: 280px;
                margin: 0 0 20px 20px;
                float: right;
            }

            .ds-testimonial__copy {
                padding-top: 20px;
                blockquote {
                    & > p {
                        font-size: 1rem;
                    }
                }
            }

        }
        @media(min-width: 1024px){
            .ds-testimonial__image {
                width: 360px;
                height: 360px;
            }
        }

    }

    /* if only two exist */
    .ds-testimonial:nth-last-child(2):first-child,
    .ds-testimonial:nth-last-child(2):first-child ~ .ds-testimonial {

        grid-column-gap: 4rem;

        @media(min-width: 1200px){

            .ds-testimonial__image {
                width: 280px;
                height: 280px;
                margin: 0 0 20px 20px;
                float: right;
            }

            .ds-testimonial__copy {
                border: 0px;
                padding-top: 20px;
            }

        }
    }

}