/* TEMPORARY - retire after transition to new buttons */
button.button {
    /* remove browser styling from button element */
    -webkit-appearance: none;
    -moz-appearance: none;
}
.button {
    @include font-roboto-condensed-bold;
    display: inline-block;
    padding: 12px 16px;
    color: #e42312;
    text-decoration: underline;
    text-transform: uppercase;
}
.button:hover {
    background-color: rgba(0,0,0,0.3);
    text-decoration: none;
}
.button:visited {
    color: #e42312;
}
.button.light,
.button.light:visited {
    color: #fff;
}
.button.red {
    background-color: #e42312;
    color: #fff;
}
.button.red:visited {
    color: #fff;
}
.button.red:hover {
    background-color: rgba(228,35,18,0.6);
}
.button.chevron {
    padding: 12px 40px 12px 16px;
    background-image: url(https://www.latrobe.edu.au/__data/assets/file/0008/1006955/chevron-sm-EF3829.svg);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: right;
}
.button.red.chevron,
.button.light.chevron {
    background-image: url(https://www.latrobe.edu.au/__data/assets/file/0004/1006960/chevron-ffffff.svg);
}
.button.chevron.down {
    background-image: url(https://www.latrobe.edu.au/__data/assets/file/0006/1006953/chevron-sm-down-e42312.svg);
}
.button.red.chevron.down,
.button.light.chevron.down {
    background-image: url(https://www.latrobe.edu.au/__data/assets/file/0007/1006954/chevron-sm-down-ffffff.svg);
}
button.button-box {
    /* remove browser styling from button element */
    -webkit-appearance: none;
    -moz-appearance: none;
}
.button-box {
    box-sizing: border-box;
    @include font-roboto-condensed-bold;
    display: inline-block;
    padding: 8px 12px;
    border: 2px solid rgb(65, 65, 65);
    color: rgb(65, 65, 65);
    background-color: #fff;
    text-decoration: none;
}
.button-box:hover {
    background-color: rgba(65, 65, 65, 0.15);
}
.button-box.selected,
.button-box.selected:hover {
    color: #fff;
    background-color: rgb(65, 65, 65);
}

.button-box-red {
    box-sizing: border-box;
    @include font-roboto-condensed-bold;
    display: inline-block;
    padding: 8px 12px;
    border: 2px solid rgb(228, 35, 18);
    color: rgb(228, 35, 18);
    background-color: #fff;
    text-decoration: none;
}
.button-box-red:hover {
    background-color: rgba(228, 35, 18, 0.15);
}
.button-box-red.selected,
.button-box-red.selected:hover {
    color: #fff;
    background-color: rgb(228, 35, 18);
}
