.LP2-nav {
    background-color: #ddd;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    overflow: hidden;
    position: relative;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 9;
}

.LP2-nav.scrolls:after {
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(244, 244, 244, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(244, 244, 244, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(244, 244, 244, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#f4f4f4', GradientType=1);
    /* IE6-9 */
    box-sizing: border-box;
    content: "";
    display: block;
    height: 100%;
    padding: 20px 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    width: 100px;
}

.LP2-nav ul {
    display: -webkit-flex;
    display: flex;
    list-style-type: none;
    margin: 0;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    padding: 0 20px;
    position: relative;
}

.LP2-nav li {
    -webkit-flex: 1 0 40%;
    flex: 1 0 40%;
    font: 14px/16px 'Roboto Bold', sans-serif;
    line-height: 20px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}

.LP2-nav li:hover, .onscreen {
    box-shadow: 0 -3px 0 #e42312 inset;
}

.onscreen+.onscreen {
    box-shadow: none;
}

.LP2-nav a {
    box-sizing: border-box;
    color: #242424;
    display: block;
    height: 100%;
    padding: 20px;
    text-decoration: none;
}

.LP2-nav a:hover {
    color: #e42312;
}

@media (min-width:768px) {
    .LP2-nav ul {
        padding: 0 12vw;
    }

    .LP2-nav li {
        -webkit-flex: 1 0 0;
        flex: 1 0 0%;
    }
}

@media (min-width:1024px) {
    .LP2-nav {
        top: 128px;
    }
}
