/* News and Events section */
.news-events {padding:20px;}
.news-events .detail {float:right; font-size:18px; text-transform:none;}
.news-events h2 {color:#e2231b; text-transform:uppercase;}
p.more-news-events {font:18px/1 'Roboto Bold',sans-serif; text-align:right;}
p.more-news-events a {background:transparent url(/__data/assets/file/0003/764841/chevron-sm-000000.svg) no-repeat 3px -3px; background-size:32px; padding-left:32px;}
@media (min-width:1024px) {
    .news-events {display:flex; padding:3vw 12vw;}
}

.v6-events {flex:1 0 0%; padding-bottom:20px;}
.v6-events .event {display:flex;}
.v6-events .event:last-child {margin-bottom:6vw;}
.v6-events .event h3 {font-size:18px; line-height:22px; margin:0 0 0 20px; order:2; text-align:left;}
.v6-events .event h3 a {box-sizing:border-box; display:block; margin-bottom:20px;}
.v6-events .event-date {background-color:#f4f4f4; font-family:'Roboto Bold', serif; min-width:100px; order:1; padding:12px 0; text-align:center;}
.v6-events .dateTime {display:inline-block; vertical-align:middle;}
@media (min-width:1024px) {
    .v6-events {padding-right:24px;}
    .v6-events .event {display:flex;}
    .v6-events .event:last-child {margin-bottom:0;}
    .v6-events .event h3 {width:70%;}
    .v6-events .event-date {}
}
@media (min-width:1400px) {
    .v6-events .event h3 {font-size:20px; line-height:24px;}
}
.v6-news {flex:1 0 0%; padding-bottom:12px;}
.v6-news .flex-wrapper {flex-wrap:wrap;}
.v6-news-item {border-bottom:1px solid #ccc; flex:1 0 auto; overflow:hidden; padding:20px 0; position:relative; text-align:left;}
.v6-news-item:first-of-type {padding-top:0;}
.v6-news-item:last-of-type {border:none; margin-bottom:20px;}
.v6-news .v6-news-item img {box-sizing:border-box; float:left; margin:0 20px 0 0; max-width:100px; padding:0; width:50%;}
.v6-news-text {transition:background-color 0.2s;}
.v6-news-text:hover {}
.v6-news-text h3 {font-size:18px; line-height:22px; margin-top:0;}
.v6-news-text p {line-height:24px;}
.v6-news-text:hover h3, .news-text:hover p {}
@media (min-width:480px) {
    .v6-news-text h3 {margin-bottom:4px;}
    .v6-news-text .leadin {display:block;}
}
@media (min-width:1024px) {
    .v6-news {padding-left:24px;}
    .v6-news .v6-news-item {border:none; margin-bottom:20px; padding:0;}
    .v6-news .v6-news-item img {max-width:160px;}
    .v6-news-text {padding:0 0 0 calc(184px + 1vw);}
    .v6-news-text p {clear:none;}
}
@media (min-width:1400px) {
    .v6-news-text h3 {font-size:20px; line-height:24px;}
}
