/* colors */
$color-1: #e42312; /* primary red */
$color-2: #242424; /* near black */
$color-2a: #414141; /* charcoal */
$color-3a: #ccc;
$color-3b: #eee;
/* svg icon filters - changes black to color */
$near-black: invert(7%) sepia(53%) saturate(0%) hue-rotate(173deg) brightness(107%) contrast(86%); /* #242424 */
$charcoal: invert(24%) sepia(1%) saturate(0%) hue-rotate(118deg) brightness(92%) contrast(89%); /* #414141 */
$red: invert(24%) sepia(78%) saturate(6864%) hue-rotate(357deg) brightness(93%) contrast(91%); /* #e42312 */
$white: invert(100%) sepia(0%) saturate(2%) hue-rotate(132deg) brightness(113%) contrast(101%);
/* font family placeholders use @extend to include these */
%font-roboto-light {
    font-family: 'Roboto', "Franklin Gothic Medium", Tahoma, sans-serif;
    font-weight: 300;
}
%font-roboto-bold {
    font-family: 'Roboto', "Franklin Gothic Medium", Tahoma, sans-serif;
    font-weight: 500;
}
%font-roboto-slab {
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
}
%font-roboto-slab-bold {
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
}
%font-roboto-condensed-bold {
    font-family: 'Roboto Condensed', Impact, "Franklin Gothic Bold", sans-serif;
    font-weight: 700;
}
