.h1, h1,
.h2, h2,
.h3, h3,
.h4, h4,
.h5, h5,
.h6, h6 {
    @include font-roboto-condensed-bold;
    margin: 0 0 8px;
}

h1 + h1 {
    display: none;
}

.h2 b, h2 b,
.h2 strong, h2 strong,
.h3 b, h3 b,
.h3 strong, h3 strong,
.h4 b, h4 b,
.h2 strong, h4 strong {
    font-weight: normal;
}

.h1, h1  {
    color: #e42312;
    font-size: 36px;
    line-height: 40px;
}

.h2, h2 {
    font-size: 32px;
    line-height: 36px;
}

h2:not(:first-of-type):not(h2+h2) {
    margin-top: 80px;
}

.h3, h3 {
    font-size: 26px;
    line-height: 32px;
}

.h4, h4 {
    font-size: 22px;
    line-height: 28px;
}

.h5, h5 {
    font-size: 18px;
    line-height: 24px;
}

.h6, h6 {
    font-size: 16px;
    line-height: 20px;
}
@media (min-width:1400px) {
    .h1, h1 {
        font-size: 48px;
        line-height: 52px;
    }

    .h2, h2 {
        font-size: 32px;
    }

    .h3, h3 {
        font-size: 28px;
    }

    .h4, h4 {
        font-size: 24px;
    }

    .h5, h5 {
        font-size: 20px;
    }

    .h6, h6 {
        font-size: 18px;
    }
}