.card {
    box-sizing: border-box;
    background: white;
    width: 100%;
    max-width: 450px;
    padding: 0 0 4px 0;
    margin-top: 16px;
    margin-bottom: 16px;
    transition: all 0.3s;
}
.card-img {
    float: none !important;
    padding: 0 !important;
    width: 100%;
}
.card-heading {
    margin: 0 0 8px 0;
    padding: 20px 10% 0 10%;
    font-size: 20px;
    line-height: 24px;
}
.card-body {
    padding: 20px 10% 0 10%;
}
.card-footer {
    padding: 0 10%;
}
.card-cta {
    @extend %font-roboto-condensed-bold;
    @extend [class*="icon-"];
    color: $color-1;
    &::after {
        @extend .icon-chevron-right;
        filter: $red;
    }
}
/* link type */
a.card {
    display: block;
    color: $color-2;
    text-decoration: none;
    border: solid 1px $color-3a;
    &:hover{
        color: $color-2;
        text-decoration: none;
        cursor: pointer;
        box-shadow: 0 5px 20px 0 rgba(0,0,0,0.2);
        .card-heading {
            color: $color-1;
            text-decoration: underline;
        }
        .card-cta {
            text-decoration: underline;
        }
    }
}
/* layouts */
.card-set {
    @include columns-grid;
}
