.columns {
    display: flex;
    flex-wrap: wrap;
    margin-left: -32px;
    & > * {
        margin: 0 32px 16px 0;
    }
    @supports(display: grid) {
        display: grid;
        grid-column-gap: 32px;
        margin-left: 0;
        grid-template-columns: 1fr;
        & > * {
            margin: 0;
        }
    }
}
.columns[data-numcols="3"] {
    @extend .columns;
    @media(min-width: 640px) {
        grid-template-columns: 1fr 1fr;
    }
    @media(min-width: 900px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
.columns[data-numcols="4"] {
    @extend .columns;
    @media(min-width: 640px) {
        grid-template-columns: 1fr 1fr;
    }
    @media(min-width: 1140px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
