.logo-showcase-logos {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 6*208px;
    margin: 0 auto 24px auto !important;
    &[data-columns="5"] {
        max-width: 5*208px;
    }
    &[data-columns="4"] {
        max-width: 4*208px;
    }
}
.logo-showcase-logo {
    margin: 4px !important;
    width: 200px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    img {
        float: none !important;
        margin: 0 auto !important;
        padding: 0 !important;
        max-width: 100%;
    }
}
