/* font family includes use @include to include these */
@mixin font-roboto-light {
    font-family: 'Roboto', "Franklin Gothic Medium", Tahoma, sans-serif;
    font-weight: 300;
}
@mixin font-roboto-bold {
    font-family: 'Roboto', "Franklin Gothic Medium", Tahoma, sans-serif;
    font-weight: 500;
}
@mixin font-roboto-slab-light {
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
}
@mixin font-roboto-slab {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
}
@mixin font-roboto-slab-bold {
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
}
@mixin font-roboto-condensed-bold {
    font-family: 'Roboto Condensed', Impact, "Franklin Gothic Bold", sans-serif;
    font-weight: 700;
}

// @include these for flex or grid with flex fallback columns
// optionally pass base width
@mixin columns($basis-width: 260px, $alignment: center) {
    display: flex;
    justify-content: $alignment;
    margin-right: -32px;
    & > * {
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: $basis-width;
        margin-right: 32px;
    }
    @media(max-width: 1280px) {
        flex-wrap: wrap;
    }
}
@mixin columns-grid($basis-width: 260px, $alignment: center, $wrap: auto-fit) {
    @include columns($basis-width, $alignment); /* flex fallback */
    @supports(display: grid) {
        display: grid;
        justify-items: $alignment;
        grid-column-gap: 32px;
        margin-right: 0;
        grid-template-columns: repeat($wrap, minmax($basis-width, 1fr));
        & > * {
            margin: 0 0 16px 0;
        }
    }
}
